/* XS (ALL SIZES) */

html {
    font-size: 62.5%;
    line-height: 1.5;
    scroll-padding-top: 90px;
}

body {
    margin: 0;
    font-size: 1.8rem;
    font-family: "Figtree";
    font-weight: 400;
    font-style: normal;

    background-color: #C82418;
}

a, a:hover, a:focus, a:visited {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: inherit;
    font-weight: 500;
    transition: text-decoration-color 300ms ease-out;
}

a:hover, a:focus {
    text-decoration-color: #C82418;
}

h2 {
    font-family: "Aleo";
    font-size: 6.4rem;
    line-height: 1em;
    color: #C82418;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

h5 {
    font-size: 2.4rem;
    line-height: 1em;
    font-weight: 700;
    margin: 0;
}

h6 {
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

p {
    margin: 1.2rem 0 0 0;
}

b {
    font-weight: 700;
}

img {
    display: block;
}

.txt-dark {
    color: #000000;
}

.txt-light {
    color: #FFFFFF;
}

.txt-accent {
    color: #C82418;
}

.txt-quote {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.2em;
}

.background {
    background-color: #FAFAFA;
}

.ending-decoration {
    height: 12px;
}



/* MD MAX WIDTH: 992PX */
@media (max-width: 992px) {

}



/* SM MAX WIDTH: 768PX */
@media (max-width: 768px) {

.txt-quote {
    text-align: left;
}

body {
    font-size: 1.6rem;
}

}



/* XS MAX WIDTH: 576PX */
@media (max-width: 576px) {

h2 {
    font-size: 3.6rem;
}

h5 {
    font-size: 2.0rem;
}

}