/* UTILITIES & BASICS */

html {
    font-size: 62.5%;
    line-height: 1.2;
}

body {
    margin: 0;
    font-size: 1.8rem;
    font-family: "Figtree";
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: "Aleo";
    font-size: 6.4rem;
    line-height: 1em;
    color: #C82418;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

h5 {
    font-size: 2.4rem;
    line-height: 1em;
    font-weight: bold;
    margin: 0;
}

h6 {
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

p {
    margin: 1.2rem 0 0 0;

}

a, a:hover, a:visited {
    text-decoration: underline;
    color: inherit;
}

b {
    font-weight: bold;
}

img {
    display: block;
}

.mv-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mv-48 {
    margin-top: 48px;
    margin-bottom: 48px;
}

.mv-64 {
    margin-top: 64px;
    margin-bottom: 64px;
}

.mv-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.txt-dark {
    color: #000000;
}

.txt-light {
    color: #FFFFFF;
}

.txt-accent {
    color: #C82418;
}

.txt-quote {
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
}



/* MAX WIDTH: 992PX */
@media (max-width: 992px) {

}



/* MAX WIDTH: 768PX */
@media (max-width: 768px) {

.txt-quote {
    text-align: left;
}

.mt-md-36 {
    margin-top: 36px;
}

.mv-md-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

body {
    font-size: 1.6rem;
}

}



/* MAX WIDTH: 576PX */
@media (max-width: 576px) {

h2 {
    font-size: 3.6rem;
}

h5 {
    font-size: 2.0rem;
}

}




/* COMMON STYLES */

body {
    background-color: #C82418;
}

.background {
    background-color: #FAFAFA;
}

.ending-decoration {
    height: 12px;
}