/* UTILITIES & BASICS */

html {
    font-size: 62.5%;
    line-height: 1.2;
}

body {
    margin: 0;
    font-size: 1.8rem;
    font-family: "Figtree";
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: "Aleo";
    font-size: 6.4rem;
    line-height: 1em;
    color: #C82418;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

h5 {
    font-size: 2.4rem;
    line-height: 1em;
    font-weight: bold;
    margin: 0;
}

h6 {
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

p {
    margin: 1.2rem 0 0 0;

}

a, a:hover, a:visited {
    text-decoration: underline;
    color: inherit;
}

b {
    font-weight: bold;
}

img {
    display: block;
}

.mv-32 {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

.mv-48 {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
}

.mv-64 {
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
}

.mv-80 {
    margin-top: 8.0rem;
    margin-bottom: 8.0rem;
}

.txt-dark {
    color: #000000;
}

.txt-light {
    color: #FFFFFF;
}

.txt-accent {
    color: #C82418;
}

.txt-quote {
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
}



@media (max-width: 992px) {

}



@media (max-width: 768px) {
    .txt-quote {
        text-align: left;
    }
}



@media (max-width: 576px) {

}




/* COMMON STYLES */

body {
    background-color: #C82418;
}

.background {
    background-color: #FAFAFA;
}

.ending-decoration {
    height: 12px;
}