/* Utility classes for javascript */

.fix-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50), 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}



/* Desktop navbar */

#nav-desktop {
    background: #C82418;
    font-weight: 500;
}

#nav-desktop-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 74px;
}

#nav-desktop-wrapper .logo-wrapper {
    align-self: center;
}

#nav-desktop-wrapper .logo {
    max-height: 42px;
}

#nav-desktop-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
}

#nav-desktop-wrapper a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 1em;
    padding: 8px;
}

#nav-desktop-wrapper a:hover {
    color: #000000;
}



/* Mobile Navbar */

#nav-mobile {
    background: green; /*#C82418;*/
    font-weight: 500;
    color: #FFFFFF;
}

.nav-mobile-wrapper-expanded {
    display: block;
    height: 100vh;
    width: 100vw;
}

#nav-mobile-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#nav-mobile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    padding-right: 16px;
    padding-left: 16px;
}

#nav-mobile-button {
    margin-left: auto;
}

#nav-mobile-button:hover {
    cursor: pointer;
}

#nav-mobile-wrapper .logo {
    max-height: 24px;
}

#nav-mobile-content {
    height: 100%;
    
    display: none;
    align-items: center;
    justify-content: center;

}

.nav-mobile-content-toggle {
    display: flex !important;
}

#nav-mobile-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

#nav-mobile-content a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2.4rem;
    line-height: 1em;
    padding: 8px;
}

#nav-mobile-content a:hover {
    color: #000000;
}