/* COMPONENTS */



/* Project card */

.c_project-card {
    position: relative;

    height: 100%;

    display: flex;
    /* grid-template-rows: 2; */
    flex-direction: column;

    background-color: hsl(var(--clr-grape-15));

    border-radius: var(--sz-3);

    overflow: hidden;

    transition: transform 300ms ease-out, box-shadow 300ms ease-out;
}

.c_project-card:hover {
    transform: translateY(calc(var(--sz-7)*(-1)));
    box-shadow: var(--elv-3);
}

.c_project-card__clk-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    text-decoration: none;
}

.c_project-card__head {
    position: relative;
}

.c_project-card__image {
    width: 100%;
    aspect-ratio: 1.2 / 1;
    object-fit: cover;
}

.c_project-card__logo {
    position: absolute;
    top: var(--sz-4);
    right: var(--sz-4);
    width: var(--sz-11);
    aspect-ratio: 1 / 1;
    filter: drop-shadow(0 var(--sz-1) var(--sz-2) hsla(var(--clr-grape-5), 0.3)) drop-shadow(0 var(--sz-1) var(--sz-2) hsla(var(--clr-grape-5), 0.15));
}

.c_project-card__tags {
    position: absolute;
    bottom: var(--sz-6);
    left: var(--sz-6);
    right: var(--sz-6);
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: var(--sz-3);
}

.c_project-card__body {
    display: flex;
    flex-direction: column;
    color: hsl(var(--clr-basic-white));
    gap: var(--sz-5);
    padding: var(--sz-7);
    flex-grow: 1;
    justify-content: space-between;
}

.c_project-card__content {
    display: flex;
    flex-direction: column;
    gap: var(--sz-3);
}

.c_project-card__title {}

.c_project-card__description {}

.c_project-card__btn {
    display: flex;
    justify-content: center;
}

.c_project-card__btn>a {
    z-index: 2;
}



/* Project hero */

.c_project-hero {}

.c_project-hero__inner-container {
    padding-left: var(--sz-7);
    padding-right: var(--sz-7);
    max-width: initial;

    @media screen and (min-width: 768px) {
        max-width: 800px;
    }
}

.c_project-hero__content {}

.c_project-hero__bg {
    background-color: hsl(var(--clr-plump-purple-80));


    overflow: hidden;

    position: relative;

    height: clamp(200px, 50vh, 250px);

    @media screen and (min-width: 400px) {}

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {
        height: clamp(250px, 60vh, 300px)
    }

    @media screen and (min-width: 992px) {
        height: clamp(300px, 65vh, 450px);
    }

    @media screen and (min-width: 1200px) {
        height: clamp(300px, 70vh, 500px)
    }

    @media screen and (min-width: 1400px) {}
}

.c_project-hero__bg--bg--informa {
    background-color: #8892E2;
}

.c_project-hero__bg--bg--despar {
    background-color: #B6E8BA;
}

.c_project-hero__bg--bg--pokerstars {
    background-color: #DEB1C4;
}

.c_project-hero__bg--bg--iopago {
    background-color: #DAF8E0;
}

.c_project-hero__bg__content,
.c_project-hero__fg__content {

    position: absolute;
    bottom: 0;
    left: var(--sz-7);
    right: var(--sz-7);
    z-index: 1;

    width: auto;
    height: 95%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media screen and (min-width: 440px) {}

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.c_project-hero__bg__image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.c_project-hero__bg__decoration {
    line-height: 0;
    position: absolute;
    bottom: -1px;
    z-index: 2;
    width: 100%;
}

#c_project-hero__bg__wave--dev--dsk {
    fill: hsl(var(--clr-grape-15));

    display: none;

    @media screen and (min-width: 440px) {
        display: initial;
    }

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

#c_project-hero__bg__wave--dev--mob {
    fill: hsl(var(--clr-grape-15));

    @media screen and (min-width: 440px) {
        display: none;
    }

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.c_project-hero__fg__content {
    z-index: 3;

    height: 90%;
}

.c_project-hero__fg__image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.c_project-hero__head {
    background-color: hsl(var(--clr-grape-15));

    position: relative;
}

.c_project-hero__head {}

.c_project-hero__headline {}

.c_project-hero__lead-copy {}

.c_project-hero__tags {}

#c_project-hero__bottom-wave {
    fill: hsl(var(--clr-grape-15));
}



/* Project recap */

.c_project-summary {
    justify-self: center;

    align-items: start;
    column-gap: var(--sz-5);
    row-gap: var(--sz-7);

    width: 100%;

    padding: var(--sz-7);

    border-radius: var(--sz-7);

    background-color: hsl(var(--clr-plump-purple-80));

    margin-top: calc((-1)*var(--sz-13));
    z-index: 1;

    max-width: initial;
    margin-left: var(--sz-7);
    margin-right: var(--sz-7);

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {
        max-width: 800px;
    }

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {
        margin-top: calc((-1)*var(--sz-15));
    }

    @media screen and (min-width: 1400px) {}
}

.c_project-summary__section {
    row-gap: var(--sz-3);
}

.c_project-summary__head {
    display: flex;
    align-items: center;
    column-gap: var(--sz-4);
}

.c_project-summary__icon {
    font-size: 24px;
    color: hsl(var(--clr-plump-purple-10));
}

.c_project-summary__title {
    color: hsl(var(--clr-plump-purple-10));
}

.c_project-summary__body {
    display: flex;
    column-gap: var(--sz-4);
}

.c_project-summary__decoration {
    flex: 0 0 2px;
    align-self: stretch;

    margin-left: 11px;
    margin-right: 11px;

    background-color: hsl(var(--clr-basic-white));
}

.c_project-summary__content {}

.c_project-summary__content>ul,
.c_project-summary__content>ul>li {
    list-style-type: none;
    padding: inherit;
    margin: inherit;
}

.c_project-summary__content>ul>li {
    margin-bottom: var(--sz-2);
}



/* Project disclaimer */

.c_project-disclaimer {
    justify-self: center;

    width: 100%;

    padding: var(--sz-7);

    border-radius: var(--sz-7);

    background-color: #FFDFB2;

    z-index: 1;

    max-width: initial;
    margin-left: var(--sz-7);
    margin-right: var(--sz-7);

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {
        max-width: 800px;
    }

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.c_project-disclaimer__icon {
    font-size: var(--sz-10);
}

.c_project-disclaimer .t_title {
    font-weight: 800;
}



/* Table of content */

.c_toc {
    /* compensate for scrollable toc-body padding */
    margin-bottom: -16px;
}

.c_toc__body::-webkit-scrollbar {
    /* Hides scrollbar in Chrome/Safari */
    display: none;

}

.c_toc__body {

    overflow-x: scroll;

    /* Hides scrollbar in Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Hides scrollbar in Firefox */
    scrollbar-width: none;


    display: flex;
    flex-wrap: nowrap;
    column-gap: var(--sz-7);

    padding-left: var(--sz-7);
    padding-right: var(--sz-7);

    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 576px) {
        padding-left: calc(((100vw) - (var(--max-w-sm))) / 2);
        padding-right: calc(((100vw) - (var(--max-w-sm))) / 2);
    }

    @media screen and (min-width: 768px) {
        padding-left: calc(((100vw) - (var(--max-w-md))) / 2);
        padding-right: calc(((100vw) - (var(--max-w-md))) / 2);
    }

    @media screen and (min-width: 992px) {
        padding-left: calc(((100vw) - (var(--max-w-lg))) / 2);
        padding-right: calc(((100vw) - (var(--max-w-lg))) / 2);
    }

    @media screen and (min-width: 1200px) {
        overflow-x: initial;

        flex-wrap: wrap;
        width: 100%;

        padding-left: 0;
        padding-right: 0;
        max-width: calc(var(--max-w-xl));
        margin: 0 auto;
    }

    @media screen and (min-width: 1400px) {
        max-width: calc(var(--max-w-xxl));
    }

}

.c_toc__body>a {
    white-space: nowrap;
}



/* Overview */

.c_overview {}

.c_overview__content {}

.c_overview__item {}

.c_overview__head {

    padding-right: 0;

    @media screen and (min-width: 768px) {
        padding-right: var(--sz-2, 4px);
    }

    @media screen and (min-width: 992px) {
        padding-right: var(--sz-4, 12px);
    }
}

.c_overview__body {
    display: flex;
}

.c_overview__decoration {
    flex: 0 0 2px;
    align-self: stretch;

    margin-left: 17px;
    margin-right: 17px;

    background-color: hsl(var(--clr-bittersweet-60));
}

.c_overview__figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--sz-4);
}

.c_overview__image {
    flex-grow: 1;
    border-radius: var(--sz-7);
    object-fit: cover;
    max-height: 250px;

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {
        max-height: initial;
    }

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}



/* Process */

.c_process {
    display: flex;
    flex-direction: column;
    row-gap: var(--sz-7);
}

.c_process__container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    row-gap: var(--sz-7);

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}

}

.c_process__margin {
    display: none;

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {
        display: block;
        width: calc((100vw - var(--max-w-lg)) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100vw - var(--max-w-xl)) / 2);
    }

    @media screen and (min-width: 1400px) {
        width: calc((100vw - var(--max-w-xxl)) / 2);
    }
}

.c_process__margin--bg--primary {
    background-color: hsl(var(--clr-grape-95));
}

.c_process__margin--bg--secondary {
    background-color: hsl(var(--clr-plump-purple-95));
}

.c_process__margin--bg--tertiary {
    background-color: hsl(var(--clr-bittersweet-95));
}

.c_process__section {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.c_process__section--bg--primary {
    background-color: hsl(var(--clr-grape-95));
}

.c_process__section--bg--secondary {
    background-color: hsl(var(--clr-plump-purple-95));
}

.c_process__section--bg--tertiary {
    background-color: hsl(var(--clr-bittersweet-95));
}

.c_process__content {
    padding-top: var(--sz-9);
    padding-bottom: var(--sz-10);

    display: flex;

    flex-direction: column;

    flex: 1 0 0;

    width: 100%;
    max-width: 100vw;

    row-gap: var(--sz-6);
}



.c_process__title {
    padding-left: var(--sz-7);
    padding-right: var(--sz-7);
    text-align: left;

    font-weight: 400;

    @media screen and (min-width: 576px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {
        text-align: left;
    }

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.c_process__timeline {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-grow: 1 0;
    height: 100%;

    overflow-x: scroll;

    /* Hides scrollbar in Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Hides scrollbar in Firefox */
    scrollbar-width: none;

    @media screen and (min-width: 576px) {
        justify-content: center;

        overflow-x: initial;
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {
        justify-content: initial;
    }

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.c_process__timeline--scroll--sm-lg {

    overflow-x: scroll;

    @media screen and (min-width: 576px) {
        justify-content: flex-start;

        overflow-x: scroll;
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {
        justify-content: initial;

        overflow-x: initial;
    }
}

.c_process__timeline::-webkit-scrollbar {
    /* Hides scrollbar in Chrome/Safari */
    display: none;
}

.c_process__item {
    flex: 0 0 160px;
    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: var(--sz-3);
    align-items: center;

    padding: var(--sz-5);
    background-color: hsl(var(--clr-dark-blue-gray-90));
    border-radius: var(--sz-5);

    @media screen and (min-width: 992px) {
        flex: 1 1 0;
    }
}

.c_process__item--var--double {
    flex: 0 0 252px;

    @media screen and (min-width: 992px) {
        flex: 1 1 0;
    }
}

.c_process__item--vis--hidden {
    visibility: hidden;
}


.c_process__item--display-xs--none {
    display: none;
}

.c_process__item--display-lg--initial {
    @media screen and (min-width: 992px) {
        display: initial;
    }
}


.c_process__number {
    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: var(--sz-max);

    width: 40px;
    height: 40px;

    background-color: hsl(var(--clr-grape-35));
}

.c_process__step {
    hyphens: auto;
}

.c_process__line {
    flex: 0 0 var(--sz-7);
    height: 2px;
    background-color: hsl(var(--clr-bittersweet-60));
}

.c_process__line--var--permanent-dotted {
    background: repeating-linear-gradient(to right,
            hsl(var(--clr-bittersweet-60)) 0,
            hsl(var(--clr-bittersweet-60)) 2px,
            transparent 2px,
            transparent 4px);

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.c_process__line--var--dotted {
    background: repeating-linear-gradient(to right,
            hsl(var(--clr-bittersweet-60)) 0,
            hsl(var(--clr-bittersweet-60)) 2px,
            transparent 2px,
            transparent 4px);

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {
        background: hsl(var(--clr-bittersweet-60));
    }

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.c_process__item-line {
    height: 2px;
    background-color: hsl(var(--clr-bittersweet-60));

    flex: 0 0 160px;
    display: none;
    visibility: hidden;

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {
        flex: 1 1 0;
        display: initial;
        visibility: visible;
    }

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.c_process__item-line--var--double {
    flex: 0 0 252px;

    @media screen and (min-width: 992px) {
        flex: 1 1 0;
    }
}

.c_process__line--vis--hidden {
    visibility: hidden;
}

.c_process__line--display-xs--none {
    display: none;
}

.c_process__line--display-lg--initial {
    @media screen and (min-width: 992px) {
        display: initial;
    }
}



/* Content components */



/* Content block */

.c_content-block {
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
    row-gap: var(--sz-4);
}

.c_content-block__decoration {
    display: flex;
    flex-direction: column;
    row-gap: var(--sz-3);
    align-items: center;
}

.c_content-block__icon {
    color: hsl(var(--clr-grape-35));
    font-size: 36px;
}

.c_content-block__separator {
    flex: none;
    width: var(--sz-15);
    height: 2px;
    background-color: hsl(var(--clr-bittersweet-60));
}

.c_content-block__head {}

.c_content-block__body {}



/* Content iconcombo */

.c_content-iconcombo {
    display: flex;
    column-gap: var(--sz-7);
    align-items: center;
}

.c_content-iconcombo__decoration {}

.c_content-iconcombo__icon {
    color: hsl(var(--clr-grape-35));
    font-size: 36px;
}

.c_content-iconcombo__separator {
    flex: 0 0 2px;
    height: 100%;
    background-color: hsl(var(--clr-bittersweet-60));
}

.c_content-iconcombo__body {}

.c_content-iconcombo__body p:last-of-type {
    margin-bottom: initial;
}



/* Content figure: figure, link image to lightbox  */

.c_content-figure {
    display: flex;
    flex-direction: column;
    row-gap: var(--sz-7);
}

.c_content-figure--ht--fill {
    height: 100%
}

.c_content-figure__image {
    flex: 1 1;

    margin: 0 auto;
    border-radius: var(--sz-7);

    @media screen and (min-width: 992px) {
        flex: 1 1;
    }
}

.c_content-figure__image--rd--none {
    border-radius: 0;
}

.c_content-figure__image--rd--3 {
    border-radius: var(--sz-3);
}

.c_content-figure__image--vr--lightbox {
    /* border-radius: 0; */
}

.c_content-figure__image--ht--max-height {
    max-height: 400px;

    @media screen and (min-width: 400px) {}

    @media screen and (min-width: 576px) {
        max-height: 450px;
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {
        max-height: 500px;
    }

    @media screen and (min-width: 1400px) {
        max-height: 600px;
    }

}

.c_content-figure__image--ht--fill {
    flex: 1 1 0;
    min-height: initial;
    max-height: 200px;
    width: 100%;
    object-fit: cover;

    @media screen and (min-width: 992px) {
        min-height: 0;
        max-height: initial;
    }
}


.c_content-figure__caption {}

.c_content-figure__linkimage {
    background-color: initial;

    flex: 1 1;

    position: relative;
}

.c_content-figure__linkimage::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    visibility: hidden;
    opacity: 0;

    background: hsl(var(--clr-bittersweet-60), 0.1);

    /* pointer-events: none; */

    transition: visibility 0s, opacity 0.3s ease-in
}

.c_content-figure__linkimage:hover::after,
.c_content-figure__linkimage:focus::after,
.c_content-figure__linkimage:active::after {
    visibility: visible;
    opacity: 1;

    transition: visibility 0s, opacity 0.3s ease-in
}

.c_content-figure__linkimage>.c_content-figure__image {
    transform: scale(1);
    transition: transform 0.3s ease-in;
}

.c_content-figure__linkimage:hover>.c_content-figure__image,
.c_content-figure__linkimage:focus>.c_content-figure__image,
.c_content-figure__linkimage:active>.c_content-figure__image {
    transform: scale(0.95);
    transition: transform 0.3s ease-in;
}

.c_content-figure__fab {
    position: absolute;
    left: var(--sz-8);
    bottom: var(--sz-8);

    z-index: 1;

    @media screen and (min-width: 768px) {
        /* left: var(--sz-8);
        bottom: var(--sz-8); */
    }
}

/* Content quote */

.c_content-quote {
    display: flex;
    column-gap: var(--sz-3);
}

.c_content-quote__marks {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-4xl);
    color: hsl(var(--clr-bittersweet-60));
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-xs, 30px);
}

.c_content-quote__body {
    display: flex;
    flex-direction: column;
    row-gap: var(--sz-4);
}

.c_content-quote__text {
    font-style: italic;
}

.c_content-quote__author {}



/* Component scrollable content */
/* Not used at the moment */

.c_content-scrollable {
    overflow-x: auto;

    margin-right: calc((-1) * var(--sz-7));
    padding-right: var(--sz-7);

    @media screen and (min-width: 576px) {
        margin-right: initial;
        padding-right: initial;
    }
}

.c_content-scrollable__content--var--double {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    column-gap: var(--sz-9);

    @media screen and (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--sz-12);
    }
}

.c_content-scrollable__content--var--triple {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    column-gap: var(--sz-9);

    @media screen and (min-width: 576px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--sz-12);
    }
}



/* Lightbox */

.c_lightbox {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(var(--clr-basic-black), 0.33);

    transition:
        opacity 0.5s ease-in,
        visibility 0s linear 0.5s;
}

.c_lightbox:target {
    visibility: visible;
    opacity: 1;

    transition:
        opacity 0.5s ease-in,
        visibility 0s linear 0s;
}

.c_lightbox__content {
    position: relative;

    width: calc(100vw - (4 * var(--sz-5)));
    height: calc(100vh - (4 * var(--sz-5)));

    border-radius: var(--sz-7);

    padding: var(--sz-7);

    @media screen and (min-width: 768px) {
        width: calc(100vw - (4 * var(--sz-7)));
        height: calc(100vh - (4 * var(--sz-7)));

        padding: var(--sz-10);
    }

    background-color: hsl(var(--clr-plump-purple-98));
}

/* TBD if this is gonna be scrollable */
.c_lightbox__image-container {
    width: 100%;
    height: 100%;
    overflow: scroll;

    display: flex;

    justify-content: center;
    align-items: center;
}

.c_lightbox__image {
    max-height: 100%;
    max-width: 100%;
}

.c_lightbox__fab--vr--close {
    position: absolute;
    top: calc((-1) * var(--sz-7));
    right: calc((-1) * var(--sz-7));

    z-index: 3000;

    @media screen and (min-width: 768px) {
        top: calc((-1) * var(--sz-7));
        right: calc((-1) * var(--sz-7));
    }
}



/* Project navigator */

.c_project-navigator {}

.c_project-navigator__item {
    position: relative;

    background-color: hsl(var(--clr-grape-30));

    padding-top: var(--sz-11);
    padding-bottom: var(--sz-11);

    padding-left: var(--sz-10);
    padding-right: var(--sz-10);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sz-8);

    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;

    @media screen and (min-width: 992px) {
        gap: var(--sz-9);
    }

    @media screen and (min-width: 1200px) {
        padding-top: var(--sz-10);
        padding-bottom: var(--sz-10);

        padding-left: var(--sz-12);
        padding-right: var(--sz-12);

        gap: var(--sz-9);
    }
}

.c_project-navigator__item--vr--previous {
    background-color: hsl(var(--clr-grape-20));
}

.c_project-navigator__item:hover.c_project-navigator__item--bg--informa {
    background-color: #8892E2;
}

.c_project-navigator__item:hover.c_project-navigator__item--bg--pokerstars {
    background-color: #DEB1C4;
    color: hsl(var(--clr-basic-black));
}

.c_project-navigator__item:hover.c_project-navigator__item--bg--despar-tribu {
    background-color: #B6E8BA;
    color: hsl(var(--clr-basic-black));
}

.c_project-navigator__item:hover.c_project-navigator__item--bg--iopago {
    background-color: #DAF8E0;
    color: hsl(var(--clr-basic-black));
}

/*

Informa
    background-color: #8892E2;

Despar
    background-color: #B6E8BA;

Pokerstars
    background-color: #DEB1C4;

Iopago
    background-color: #DAF8E0;

*/

.c_project-navigator__item:hover .c_project-navigator__preview::after,
.c_project-navigator__item:hover .c_project-navigator__preview--vr--previous {
    background-color: transparent;
}

.c_project-navigator__item:hover .c_project-navigator__image {
    transform: scale(1.1);
}

.c_project-navigator__clk-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    text-decoration: none;
}

.c_project-navigator__button {
    display: flex;
    align-items: center;
    gap: var(--sz-6);
}

.c_project-navigator__button-icon {
    font-size: var(--fs-2xl);
}

.c_project-navigator__button-label {}

.c_project-navigator__content {

    max-width: 600px;

    display: flex;

    align-items: center;
    gap: var(--sz-5);

    text-align: center;

    @media screen and (min-width: 576px) {
        flex-direction: row;
        gap: var(--sz-11);
        text-align: left;
    }
    
}

.c_project-navigator__content--vr--previous {
    flex-flow: row-reverse;

    @media screen and (min-width: 992px) {
        flex-flow: initial;
    }
}


.c_project-navigator__preview {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.c_project-navigator__preview--vr--previous::after {
    background-color: hsl(var(--clr-grape-20), 0.5);
}

.c_project-navigator__image {
    max-height: 250px;
    transition: transform 500ms ease-in-out;
}

.c_project-navigator__body {
    display: flex;
    flex-direction: column;
    gap: var(--sz-5);

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}




/* Footer */

.c_footer {
    padding-top: var(--sz-11);
    padding-bottom: var(--sz-16);

    background-color: hsl(var(--clr-grape-5));
}

.c_footer__logo {
    display: inline-block;
}

.c_footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: var(--sz-9);
    column-gap: var(--sz-9);

    @media screen and (min-width: 992px) {
        column-gap: var(--sz-7);
    }
}

.c_footer__content {
    display: grid;
    row-gap: var(--sz-4);

    grid-template-rows: subgrid;
    grid-column: span 4;
    grid-row: span 2;

    @media screen and (min-width: 576px) {
        grid-column: span 2;
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {
        grid-row: span 2;
        grid-column: span 1;
    }
}

.c_footer__content:last-child {

    grid-column: 1 / -1;

    @media screen and (min-width: 576px) {
        grid-column: 1 / -1;
    }

    @media screen and (min-width: 768px) {
        grid-column: 1 / -1;
    }

    @media screen and (min-width: 992px) {
        grid-column: span 1;
    }
}

.c_footer__content:last-child>.c_footer__head {
    display: none;

    @media screen and (min-width: 992px) {
        display: initial;
    }
}

.c_footer__head {}

.c_footer__body {
    display: flex;
    flex-direction: column;
    gap: var(--sz-3);
}