/* TYPOGRAPHY */



/* Variables setup */

:root {

    --fs-2xs: 1.4rem;
    --fs-xs: 1.6rem;
    --fs-sm: 1.8rem;
    --fs-md: 2.0rem;
    --fs-lg: 2.4rem;
    --fs-xl: 2.6rem;
    --fs-2xl: 3.2rem;
    --fs-3xl: 3.4rem;
    --fs-4xl: 4.5rem;
    --fs-5xl: 5.4rem;

    --lh-2xs: 2.0rem;
    --lh-xs: 2.2rem;
    --lh-sm: 2.6rem;
    --lh-md: 2.8rem;
    --lh-lg: 3.2rem;
    --lh-xl: 3.4rem;
    --lh-2xl: 4.0rem;
    --lh-3xl: 4.1rem;
    --lh-4xl: 5.4rem;
    --lh-5xl: 6.4rem;

    --ff-serif-display: "DM Serif Display", serif;
    --ff-serif: "DM Serif Text", serif;
    --ff-sans: "Funnel Sans", sans-serif;

}



/* Basic setup */

html {
    /* Setting up font-size to be 10px for default browsers (to make rem calculations easier) */
    font-size: 62.5%;
}

body {
    /* Default body font */
    font-family: var(--ff-sans);
}



/* Styling */

/* Body */

.t_body {
    font-family: var(--ff-sans, "Funnel Sans");
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-sm, 18px);
    line-height: var(--lh-sm, 26px);
}

.t_body--sz--xs {
    font-size: var(--fs-2xs, 14px);
    line-height: var(--lh-2xs, 20px);
}

.t_body--sz--sm {
    font-size: var(--fs-xs, 16px);
    line-height: var(--lh-xs, 22px);
}

.t_body--sz--md {
    font-size: var(--fs-sm, 18px);
    line-height: var(--lh-sm, 26px);
}

.t_body--sz--lg {
    font-size: var(--fs-md, 20px);
    line-height: var(--lh-md, 28px);
}

.t_body--em--yes {
    font-weight: 700;
}

.t_body--int--link {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 10%;
    text-underline-offset: 4%;
    text-underline-position: from-font;
    transition: all 0.3s ease-out;
}

.t_body--int--link:hover,
.t_body--int--link:target {
    text-decoration-color: hsl(var(--clr-basic-black));
}



/* Label */

.t_label {
    font-family: var(--ff-sans, "Funnel Sans");
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--fs-xs, 16px);
    line-height: var(--lh-xs, 22px);
}

.t_label--sz--sm {
    font-weight: 600;
    font-size: var(--fs-2xs, 14px);
    line-height: var(--lh-2xs, 20px);
}

.t_label--sz--md {
    font-weight: 600;
    font-size: var(--fs-xs, 16px);
    line-height: var(--lh-xs, 22px);
}

.t_label--sz--lg {
    font-weight: 500;
    text-transform: none;
    font-size: var(--fs-sm, 18px);
    line-height: var(--lh-xs, 22px);
}

.t_label--int--btn {
    transition: color 0.3s ease-out;
}

.t_label--int--btn:hover,
.t_label--int--btn:target {
    color: hsl(var(--clr-bittersweet-50));
}

.t_label--int--btn:active {
    color: hsl(var(--clr-bittersweet-40));
}

.t_label--int--link {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 9%;
    text-underline-offset: 4%;
    text-underline-position: from-font;
    transition: all 0.3s ease-out;
}

.t_label--int--link:hover,
.t_label--int--link:target {
    color: hsl(var(--clr-bittersweet-40));
}

.t_label--int--link:active {
    color: hsl(var(--clr-bittersweet-30));
}



/* Title */

.t_title {
    font-family: var(--ff-sans, "Funnel Sans");
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-md, 20px);
    line-height: var(--lh-md, 28px);
}

.t_title--sz--sm {
    font-weight: 800;
    font-size: var(--fs-sm, 18px);
    line-height: var(--lh-sm, 26px);
}

.t_title--sz--md {
    font-weight: 500;
    font-size: var(--fs-md, 20px);
    line-height: var(--lh-md, 28px);
}

.t_title--sz--lg {
    font-weight: 800;
    font-size: var(--fs-lg, 24px);
    line-height: var(--lh-lg, 32px);
}

.t_title--sz--xl {
    font-weight: 500;
    font-size: var(--fs-xl, 26px);
    line-height: var(--lh-xl, 34px);
}

.t_title--sz--2xl {
    font-weight: 800;
    font-size: var(--fs-xl, 26px);
    line-height: var(--lh-xl, 34px);
}

.t_title--em--yes {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: hsl(var(--clr-bittersweet-60));
    text-decoration-thickness: 10%;
    text-underline-offset: 13.1%;
    text-underline-position: from-font;
}



/* Headline */

.t_headline {
    font-family: var(--ff-serif-text, "DM Serif Text");
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-2xl, 32px);
    line-height: var(--lh-2xl, 40px);
}

.t_headline--sz--sm {
    font-size: var(--fs-lg, 24px);
    line-height: var(--lh-lg, 32px);
}

.t_headline--sz--md {
    font-size: var(--fs-2xl, 32px);
    line-height: var(--lh-2xl, 40px);

    @media screen and (min-width: 576px) {
        font-size: var(--fs-3xl, 34px);
        line-height: var(--lh-3xl, 41px);
    }
}

.t_headline--sz--lg {
    font-size: var(--fs-4xl, 45px);
    line-height: var(--lh-4xl, 54px);

    @media screen and (min-width: 576px) {
        font-size: var(--fs-5xl, 54px);
        line-height: var(--lh-5xl, 64px);
    }
}

.t_headline--em--yes {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: hsl(var(--clr-bittersweet-60));
    text-decoration-thickness: 10%;
    text-underline-offset: 9%;
    text-underline-position: from-font;
}

.t_headline--int--link {
    display: inline-block;
    position: relative;

    transition: transform .5s ease-out;
}

.t_headline--int--link::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: hsl(var(--clr-bittersweet-60));
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.t_headline--int--link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* Display */

.t_display {
    font-family: var(--ff-serif-text, "DM Serif Text");
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-lg, 24px);
    line-height: var(--lh-lg, 32px);
}

.t_display--sz--md {
    font-size: var(--fs-lg, 24px);
    line-height: var(--lh-lg, 32px);
}

.t_display--sz--xl {
    font-size: var(--fs-4xl, 45px);
    line-height: var(--lh-4xl, 54px);
}

.t_display--em--yes {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: hsl(var(--clr-bittersweet-60), 1);
    text-decoration-thickness: 10%;
    text-underline-offset: 8%;
    text-underline-position: from-font;
}


/* UL and LI - Lists */

ul {
    margin-top: 0;
    margin-bottom: var(--sz-4);
    padding-left: var(--sz-7);
}

li {
    margin-bottom: var(--sz-3);
    padding-left: var(--sz-3);
}



/* P - Paragraph */

p {
    margin-bottom: var(--sz-4, 12px);
}

p:last-of-type {
    margin-bottom: 0;
}

p:last-of-type:has(+ul) {
    margin-bottom: var(--sz-4, 12px);
}