@media screen and (min-width: 992px) and (max-width: 1300px){
/* ***************  ---GRIGLIA---  ******************* */
.main-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 0;
    grid-template-areas:
    "hh hh hh hh hh hh hh hh hh hh hh hh"
    ". . . ti ti ti ti ti ti ti . ."
    ". . . in in in in in . . . ."
    ". . . z1 z1 z1 z1 z1 . . . ."
    "ff ff ff ff ff ff ff ff ff ff ff ff";
}

/* EDIT */
/* body {
    font-family: OfSerif;
    font-weight: 400;
} */


/* ***************  ---CORPO---  ******************* */
.blocco-download-1{
    grid-area: z1;
    padding: 1.5rem 0 3rem 0;
}

.griglia-download-1{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    padding: 0.25rem 0 0 0;
}

.griglia-download-1 > a{
    display:block;
}

.download-singolo {
    width: 70%;
    /* margin: 0 auto; */
}

.download-singolo > img {
    width: 100%;
}

.download-singolo > div {
    padding: 0.35rem 0 0 0;
    line-height: 1.3em;
}

.titolo{
    font-family: OfSerif; /* EDIT */ 
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1em;
    padding: 1.5rem 0 0 0;
}

.sottotitolo{
    font-family: OfSans;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1em;
    padding: 0 0 0 0;
}


.immagine-descrittiva{
    width: 100%;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.didascalia{
    text-align: right;
    font-style: italic;
    margin-right: 1rem;
    padding-top: 1.5rem;
}


    /* ***************  ---FOOTER---  ******************* */
    .icona-social{
        width: 40px;
        margin: 0.3em;
    }
    .footer{
        grid-area: ff;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
        ". . . fa fa fa fb fb fb fc . .";
        padding: 2em 0;
    }
    .foot-1{
        grid-area: fa;
    }
    .foot-2{
        grid-area: fb;
    }
    .foot-3{
        grid-area: fc;
        text-align:right;
    }
    .blocco-icone{
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }
}