@media screen and (min-width: 540px) and (max-width: 768px){


    /* ***************  ---GRIGLIA---  ******************* */
    .main-grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-gap: 0;
        grid-template-areas:
        "hm hm hm hm hm hm hm hm hm hm hm hm"
        ". . ti ti ti ti ti ti ti ti . ."
        ". . bf bf bf bf bf bf bf bf . ."
        ". . bp bp bp bp bp bp bp bp . ."
        ". . be be be be be be be be . ."
        "ff ff ff ff ff ff ff ff ff ff ff ff";
    }



/* ***************** ---IFRAME--- ****************** */
.blocco-frame {
    grid-area: bf;
    height: 400px;
    display: inline-block;
    overflow: hidden;
    margin: 1.5rem 0 0 0;
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
}
.blocco-frame iframe {
    /* position: relative;
    width: 100%;
    height: 140% !important;
    top: -240px;
    border: none; */
    width: 100%;
    height: 100%;
}

/* ***************  ---CORPO---  ******************* */
.titolazione{
    grid-area: ti;
    padding: 1.5rem 0 0 0;
}

.blocco-filtri{
    padding-top: 2rem;
    grid-area: bp;
}

.blocco-filtri{
    grid-area: bp;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 2rem;
    grid-template-areas:
    "f1 f1"
    "f2 f3" 
    "f4 f4";
}

.filtro-1{
    grid-area: f1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "cf1 cf1"
    "fs1 fs1" 
    "fs12 fs12";
    margin-bottom: -1rem;
}

.categoria-filtro-1{
    grid-area: cf1;
}

.filtro-singolo-1{
    grid-area: fs1;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.filtro-singolo-12{
    grid-area: fs12;
    padding-top: 1rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.filtro-2{
    grid-area: f2;
    display: grid;
    margin-bottom: -1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "cf2"
    "fs2";
}

.categoria-filtro-2{
    grid-area: cf2;
}

.filtro-singolo-2{
    grid-area: fs2;
}

.filtro-3{
    grid-area: f3;
    display: grid;
    margin-bottom: -1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "cf3"
    "fs3";
}

.categoria-filtro-3{
    grid-area: cf3;
}

.filtro-singolo-3{
    grid-area: fs3;
}

.filtro-4{
    grid-area: f4;
    display: grid;
    margin-bottom: -1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "cf4"
    "fs4";
}

.categoria-filtro-4{
    grid-area: cf4;
}

.filtro-singolo-4{
    grid-area: fs4;
}

.blocco-elementi{
    margin-top: 2rem;
    grid-area: be;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* background-color: blue; */
}

.elemento-singolo {
    background-color: white;
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
}

.descrizione-elemento {
    padding: 1em;
}

.immagine-elemento-singolo {
    width: 100%;
}

.sottosezione{
    padding: 0 0 1rem 0;
}

.bottone-selezione {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: white;
    color: black;
    font-family: OfSans, sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 0.25em 0.75em;
    border: none;
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.bottone-blocco-mappa {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

.titolo{
    font-family: OfSerif; /* EDIT */ 
    font-weight: 700;
    font-size: 2rem;
    line-height: 1em;
    padding: 1.5rem 0 0 0;
}

.sottotitolo{
    font-family: OfSans;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1em;
    padding: 0 0 0 0;
}

.sottosezione{
    padding: 0 0 1rem 0;
}

.segnaposto-div{
    display: flex;
    display: none;
    width: 100%;
    height: 80px;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 998;
    padding: 0 45px 0 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.segnaposto-img{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    z-index: 999;
}

/* ***************  ---FOOTER---  ******************* */
.footer {
    grid-area: ff;
    background-color: white;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
    ". . . fc fc fc fc fc fc . . ."
    ". . fa fa fa fa fb fb fb fb . .";
    padding: 2em 0;
}
.foot-1 {
    grid-area: fa;
}
.foot-2 {
    grid-area: fb;
}
.foot-3 {
    grid-area: fc;
    justify-self: center;
}
.blocco-icone {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
  }