
/* ***************  ---GRIGLIA---  ******************* */
.main-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 0;
    grid-template-areas:
    "hh hh hh hh hh hh hh hh hh hh hh hh"
    ". . ti ti ti ti ti ti ti ti . ."
    ". . in in in in . cl cl cl cl ."
    "ff ff ff ff ff ff ff ff ff ff ff ff";
}

/* EDIT */
/* body {
    font-family: OfSerif;
    font-weight: 400;
} */


/* ***************  ---CORPO---  ******************* */
.titolazione{
    grid-area: ti;
    padding: 1.5rem 0 0 0;
}

.introduzione{
    grid-area: in;
    padding: 1.5rem 0 0 0;
}

.contatti-laterali{
    grid-area: cl;
    grid-gap: 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
    ". t1 t1 t1 t1 ."
    ". s1 s1 s1 s1 ."
    ". t2 t2 t2 t2 ."
    ". s2 s2 s2 s2 ."
    ". t3 t3 t3 t3 ."
    ". s3 s3 s3 s3 ."
    ". t4 t4 t4 t4 ."
    ". s4 s4 s4 s4 ."
    ". t5 t5 t5 t5 ."
    ". s5 s5 s5 s5 .";
}

.blocco-testo-1{
    grid-area: t1;
    padding: 1.5rem 0 0 0;
}

.blocco-scomparsa-1{
    grid-area: s1;
    padding-top: 1rem;
}

.blocco-testo-2{
    grid-area: t2;
    padding: 1.5rem 0 0 0;
}

.blocco-scomparsa-2{
    grid-area: s2;
    padding-top: 1rem;
}

.blocco-testo-3{
    grid-area: t3;
    padding: 1.5rem 0 0 0;
}

.blocco-scomparsa-3{
    grid-area: s3;
}

.blocco-testo-4{
    grid-area: t4;
    padding: 1.5rem 0 0 0;
}

.blocco-scomparsa-4{
    grid-area: s4;
    padding-top: 1rem;
}

.blocco-testo-5{
    grid-area: t5;
    padding: 1.5rem 0 0 0;
}

.blocco-scomparsa-5{
    grid-area: s5;
    padding-top: 1rem;
}

.freccia{
    transition: transform 0.3s;
}

.ruota{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.titolo{
    font-family: OfSerif; /* EDIT */ 
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1em;
    padding: 1.5rem 0 0 0;
}

.sottotitolo{
    font-family: OfSans;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1em;
    padding: 0 0 0 0;
}

.sottosezione{
    padding: 0 0 1rem 0;
}

#fauna-1, #fauna-2, #fauna-3, #fauna-4, #fauna-4, #fauna-5, #fauna-6:hover{
    cursor: pointer;
}

.immagine-descrittiva{
    width: 100%;
}

.didascalia{
    font-style: italic;
    padding: 0.5rem 0 0 0;
}

.contatti-categoria{
    padding-top: 1rem;
}

.ufficio{
    padding-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1em;
}

.ufficio-blocco{
    padding-left: 1.5rem;
}

.personale-singolo{
    padding-top:1rem;
}


/* ***************  ---FOOTER---  ******************* */
.icona-social{
    width: 40px;
    margin: 0.3em;
}
.footer{
    grid-area: ff;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    ". . fa fa fa fb fb fb fc fc . .";
    padding: 2em 0;
}
.foot-1{
    grid-area: fa;
}
.foot-2{
    grid-area: fb;
}
.foot-3{
    grid-area: fc;
    text-align:right;
}