/* ***************  ---GRIGLIA---  ******************* */
.main-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-gap: 0;
    grid-template-areas:
    "hh hh hh hh hh hh hh hh hh hh hh hh"
    ". . ti ti ti ti ti ti ti ti . ."
    ". . t1 t1 t1 t1 . i1 i1 i1 . ."
    ". c1 c1 c1 c1 c1 . . . . . ."
    ". . t2 t2 t2 t2 . i2 i2 i2 . ."
    ". . t3 t3 t3 t3 . i3 i3 i3 . ."
    "ff ff ff ff ff ff ff ff ff ff ff ff";
}

/* EDIT */
/* body {
    font-family: OfSerif;
    font-weight: 400;
} */


/* ***************  ---CORPO---  ******************* */
.titolazione{
    grid-area: ti;
    padding: 1.5rem 0 0 0;
}

.introduzione{
    grid-area: in;
    padding: 1.5rem 0 0 0;
}

.blocco-testo-1{
    grid-area: t1;
    padding: 1.5rem 0 0 0;
}

.blocco-immagine-1{
    grid-area: i1;
    padding: 1.5rem 0 0 0;   
}

.citazione-pagina-1{
    grid-area: c1;
    padding: 1.5rem 0 0 0;
}

.blocco-testo-2{
    grid-area: t2;
    padding: 1.5rem 0 0 0;
}

.blocco-immagine-2{
    grid-area: i2;
    padding: 1.5rem 0 0 0;
}

.blocco-testo-3{
    grid-area: t3;
    padding: 1.5rem 0 3rem 0;
}

.blocco-immagine-3{
    grid-area: i3;
    padding: 1.5rem 0 3rem 0;
}

.titolo{
    font-family: OfSerif; /* EDIT */ 
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1em;
    padding: 1.5rem 0 0 0;
}

.sottotitolo{
    font-family: OfSans;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1em;
    padding: 0 0 1rem 0;
}

.sottosezione{
    padding: 0 0 1rem 0;
}

.citazione-pagina{
    font-family: EBGaramond;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    line-height: 1em;
}

.immagine-descrittiva{
    width: 100%;
}

.didascalia{
    font-style: italic;
    padding: 0.5rem 33% 0 0;
}



/* ***************  ---FOOTER---  ******************* */
.icona-social{
    width: 40px;
    margin: 0.3em;
}
.footer{
    grid-area: ff;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    ". . fa fa fa fb fb fb fc fc . .";
    padding: 2em 0;
}
.foot-1{
    grid-area: fa;
}
.foot-2{
    grid-area: fb;
}
.foot-3{
    grid-area: fc;
    text-align:right;
}