@media screen and (min-width: 0px) and (max-width: 540px) {
    
    
    
    /* ***************  ---GRIGLIA---  ******************* */
    .main-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, auto);
        grid-gap: 2em;
        grid-template-areas: "hm hm hm hm hm hm hm hm hm hm hm hm" "cp cp cp cp cp cp cp cp cp cp cp cp" ". tp tp tp tp tp tp tp tp tp tp ." ". bm bm bm bm bm bm bm bm bm bm ." ". bt bt bt bt bt bt bt bt bt bt ." ". b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 ." ". be be be be be be be be be be ." ". b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 ." ". bl bl bl bl bl bl bl bl bl bl ." "ff ff ff ff ff ff ff ff ff ff ff ff";
    }



    /* ***************  ---CAROSELLO---  ******************* */
    .carosello-presentazione {
        grid-area: cp;
    }
    .citazione-home {
        font-family: EBGaramond;
        font-weight: 700;
        font-style: italic;
        font-size: 1.3em;
        line-height: 1.3em;
    }
    .carousel-item:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    }
    .autore-cit-home {
        font-family: OfSans;
        font-weight: 400;
        font-size: 1em;
        line-height: 2.2em;
        color: rgb(255, 108, 12);
    }



    /* ***************  ---TESTO PRESENTAZIONE---  ******************* */
    .testo-presentazione {
        grid-area: tp;
        padding: 1em 0;
    }



    /* ***************  ---BOTTONI---  ******************* */
    .blocco-localita {
        margin-bottom: 0.5em;
    }
    .blocco-bottoni {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
        margin-bottom: 0.5em;
    }
    .bottone-selezione {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-image: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: white;
        color: black;
        font-family: OfSans, sans-serif;
        font-weight: 400;
        font-size: 1em;
        padding: 0.25em 0.75em;
        border:none;
        box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
        text-align: left;
    }
    .bottone-inserimento {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-image: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: white;
        color: black;
        font-family: OfSans, sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 1em;
        padding: 0.25em 1.5em;
        border: none;
        border-bottom: 2px solid rgb(255, 108, 12);
        box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
        text-align: left;
    }
    .bottone-blocco-mappa {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
    }
    .bottone-blocco-meteo {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }


    
    /* ***************  ---BLOCCO MAPPA---  ******************* */
    .blocco-mappa {
        grid-area: bm;
    }



    /* ***************** ---IFRAME--- ****************** */
    .blocco-frame {
        grid-area: bbf;
        width: 100%;
        height: 300px;
        display: inline-block;
        overflow: hidden;
        box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
    }
    .blocco-frame iframe {
        /* position: relative;
        width: 100%;
        height: 150%;
        top: -200px;
        border: none; */
        width: 100%;
        height: 100%;
    }



    /* ***************  ---METEO---  ******************* */
    .blocco-meteo {
        grid-area: bt;
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-template-areas: "m1" "m2" "m3";
    }
    .meteo-1 {
        grid-area: m1;
    }
    .meteo-2 {
        grid-area: m2;
    }
    .meteo-3 {
        grid-area: m3;
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: white;
        box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
        padding: 1.5em;
        grid-template-areas: "im im im" "g1 g1 g1" "g2 g2 g2";
    }
    .info-meteo {
        grid-area: im;
        display: flex;
    }
    .info-meteo-1 {
        flex: 3;
    }
    .info-meteo-2 {
        flex: 2;
        margin-top: auto;
        margin-bottom: auto;
    }
    .immagine-info-meteo {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .immagine-icona-meteo {
        width: 45%;
    }
    .giorno-1 {
        grid-area: g1;
        padding-bottom: 2em;
    }
    .meteo-flex {
        height: 33%;
        display: flex;
        align-items: center;
    }
    .meteo-icona {
        flex: 3;
        text-align: center;
    }
    .meteo-testo {
        flex: 3;
    }
    .giorno-2 {
        grid-area: g2;
        padding-bottom: 2em;
    }
    .giorno-1 div:nth-child(1) {
        padding-top: 0.25em;
    }
    .giorno-2 div:nth-child(1) {
        padding-top: 0.25em;
    }



    /* ***************  ---CATEGORIE---  ******************* */
    .blocco-categoria-1 {
        grid-area: b1;
    }
    .blocco-categoria-2 {
        grid-area: b2;
    }



    /* ***************  ---ELEMENTI GRIGLIA EVENTI E LINK---  ******************* */
    .blocco-elementi {
        grid-area: be;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        /* background-color: blue; */
    }
    .blocco-link {
        grid-area: bl;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        /* background-color: blue; */
    }
    .elemento-singolo {
        background-color: white;
        box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
    }
    .elemento-doppio-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background-color: white;
        box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
    }
    .elemento-doppio-2 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        background-color: white;
        box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
    }
    .elemento-doppio-3 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        background-color: white;
        box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.1);
    }
    .blocco-link {
        grid-area: bl;
    }



    /* ***************  ---FOOTER---  ******************* */
    .footer {
        grid-area: ff;
        background-color: white;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: ". fc fc fc fc fc fc fc fc fc fc ." ". fa fa fa fa fa fa fa fa fa fa ." ". fb fb fb fb fb fb fb fb fb fb .";
        padding: 2em 0;
    }
    .foot-1 {
        grid-area: fa;
    }
    .foot-2 {
        grid-area: fb;
    }
    .foot-3 {
        grid-area: fc;
    }    
}